* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
  font-family: sans-serif;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 310px;
}

.sun-visor {
  padding: 20px;
  background-color: black;
  margin-bottom: 10px;
  max-width: 100px;
  border-radius: 10px;
  color: white;
}

.display {
  background: greenyellow;
  color: #000;
  text-align: right;
  padding: 15px;
  font-size: 33px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 40px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  box-shadow: 0px 0px 20px black;
  background: #444;
  color: white;
  font-size: 18px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #555;
}

.power {
  background: #00bcd4;
  border-radius: 200px;
  color: #fff;
}

.memory {
  display: flex;
  align-items: center;
  margin-top: 40px;
  background: #ffeb3b;
  width: 69px;
height: 25px;
  border-radius: 25px;
  color: #000;
}

.operator {
  background: #444;
  color: #fff;
}

.equal {
  background: #00bcd4;
  grid-row: span 2;
  color: #fff;
}