* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c0e32;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1px;
}

.nav-titles {
    display: flex;
    gap: 80px;
    margin: 0 40px;
}

.nav-bar img {
    height: 20%;
    width: 20%;
}

.nav-bar h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;

}

.nav-bar button {
    font-size: 20px;
    font-weight: 330;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    background: linear-gradient(140deg, #140830, #3e2080);
    margin: 40px;
    border-radius: 20px;
}

.text {
    max-width: 400px;
    margin-left: 40px;

}

.inbox {
    margin-top: 20px;
    margin-bottom: 40px;
}

.content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #252060;
    font-size: 25px;
    width: 33vh;
    height: 40px;
    background-color: #b1aafd;
}

.content h1 {
    font-weight: 700;
}

.content p {
    font-size: 20px;
    font-weight: 500;
}

.content .button-bg {
    background-color: #ffffff;
    padding-left: 30px;
    padding: 11px;
    border-radius: 30px;
    height: 8vh;
    width: 18vw;
}

.content h2 {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    align-items: center;
    font-weight: 350;
    font-size: 25px;
    color: black;

}

.content h2 button {
    all: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #13072d;

}

.content h1,
p {
    color: white;
}

.banner {
    padding: 20px;
}

.content img {
    max-width: 90vh;
}
